.variable-proximity {
    cursor: default;
    user-select: none;
}

.variable-proximity-demo {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Inter Variable', 'Inter', sans-serif;
    font-feature-settings: normal;
    font-variation-settings: 'wght' 400, 'opsz' 9;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}